@CHARSET "ISO-8859-1";
.html-body-style-1 {
	padding: 15px;
	box-sizing: border-box;
}

.html-body-style-2 {
	border: 2px solid black;
}

html, body, body > div, div.bodyContainerStyle {
	width: 100%;
	height: 100%;
}

.bodyStyle {
	width: 100%;
	height: 85%;
	border-top: 1px solid black;
}

.headerStyle {
	width: 100%;
	height: 15%;
}

.appIconStyle {
	float: left;
	position: relative;
	width: 80%;
	height: 80%
}

.appHeadingStyle {
	float: left;
	position: relative;
	font-size: 2.5em;
}

.statusPanelStyle {
	float: right;
	border-left: 1px solid black;
	height: 100%;
}

.imageContainerStyle {
	float: left;
	position: relative;
}

.navigationPanelStyle {
	padding: 2px;
	width: 30%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.emailDetailsPanel {
	width: 70%;
	height: 100%;
	float: left;
	clear: right;
}

.emailMainPanelStyle {
	float: left;
	position: relative;
	width: 75%;
	margin-left: 2em;
	height: 100%;
}

.emailHeaderMainPanelStyle {
	float: left;
	position: relative;
	width: 100%;
	height: 10%;
	border: 1px solid blue;
}

.emailBodyMainPanelStyle {
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.messageHeaderPanelStyle {
	border-bottom: 1px solid black;
	width: 100%;
	height: 35%;
	display: table;
	float: left;
}

.messageBodyHeaderPanelStyle {
	float: left;
	width: 100%;
	height: 20%;
	border: 1px solid black;
	padding: 0.5em;
	box-sizing: border-box;
}

.messageBodyPanelStyle {
	width: 100%; 
	height: 65%;	
	padding: 0.5em;
	box-sizing: border-box;
	clear: left;
}

.emailHeaderPanelStyle {
	width: 100%;
	box-sizing: border-box;
}

.navigationNodeStyle {
	font-size: 1.3em;
}

.messageBodyHeaderItemStyle1 {
	display: table-column;
	width: 15%;
	float: left;
}

.messageBodyHeaderItemStyle2 {
	display: table-column;
	width: 35%;
	float: left;
}

.messageHeaderTopRowStyle {
	float: left;
	clear: right;
	vertical-align: top;
}

.messageHeaderLabelStyle {
	padding-left: 2em;	
}

.messageHeaderBottomRowStyle {
	float: left;
	vertical-align: bottom;
	clear: left;
}

.messagePanelStyle {
	box-sizing: border-box;
	width: 100%;
	height: 75%;
	border: 1px solid black;
	padding: 1px;
	margin-top: 1em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.navigationStyle {
	width: 300px;
}

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
    cursor: text;    
    font-size: 2em;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mail-box-style {
	padding-left: 20px;
}

.message-header-list-style {
	height: 100%;
}