
<div class="bodyContainerStyle group">
   <div class="navigationPanelStyle">
            <div ng-include="'navigation.htm'"
         class="navigationStyle"></div>
   </div>
   <div class="emailDetailsPanel">
      <div class="messageHeaderPanelStyle">
      	<div class="grid message-header-list-style" ui-grid="gridOptionsSimple"></div>
      </div>
      <div ng-include="'messagebody.htm'"
         class="messageBodyPanelStyle"></div>
   </div>
</div>
