
   <div class="imageContainerStyle">
      <img ng-src="./EmailAppIcon.png" class="appIconStyle" />
   </div>
   <label class="appHeadingStyle"> Office Mail </label>
   <div class="statusPanelStyle">
      <img ng-src="./AvatarIcon.png" /> <img ng-src="./StatusIcon.png" />
   </div>
