		<div ng-controller="MessageBodyController" class="messageBodyHeaderPanelStyle">
			<div class="messageBodyHeaderItemStyle1">
				<label class="messageHeaderTopRowStyle messageHeaderLabelStyle">Subject</label>
				<label class="messageHeaderBottomRowStyle messageHeaderLabelStyle">Date</label>
			</div>
			<div  class="messageBodyHeaderItemStyle2">
				<label class="messageHeaderTopRowStyle">Subject</label>
				<label class="messageHeaderBottomRowStyle">Date</label>
			</div>
			<div class="messageBodyHeaderItemStyle1">
				<label class="[messageHeaderTopRowStyle, messageHeaderLabelStyle]">To</label>
				<label class="[messageHeaderBottomRowStyle, messageHeaderLabelStyle]">From</label>
			</div>
			<div  class="messageBodyHeaderItemStyle2">
				<label class="messageHeaderTopRowStyle">{{to}}</label>
				<label class="messageHeaderBottomRowStyle">{{to}}</label>
			</div>
		</div>
		<textarea  class="messagePanelStyle"></textare