<div ui-tree ng-controller="NavigationController" data-drag-enabled="false">
  <ol ui-tree-nodes="" ng-model="data" data-nodrop-enabled="true">
    <li ng-repeat="value in data" ui-tree-node>
          <div class="tree-node tree-node-content angular-ui-tree-handle">
            <a class="btn btn-success btn-xs" ng-if="value.mailBoxes && value.mailBoxes.length > 0"   data-nodrag ng-click="toggle(this)">
              <span class="glyphicon" ng-class="{ 'glyphicon-plus': collapsed,        'glyphicon-minus': !collapsed }">
              </span>
            </a>
            {{value.title}}
          </div>
          <ol ui-tree-nodes="" ng-model="value.mailBoxes" ng-class="{hidden: collapsed}" data-nodrop-enabled="true">
            <li ng-repeat="val in value.mailBoxes" ui-tree-node class="mail-box-style">
              <div class="tree-node tree-node-content angular-ui-tree-handle">
                <a class="btn btn-success btn-xs"  data-nodrag >
                  <span class="glyphicon glyphicon-minus">
                  </span>
                </a>
                {{val.title}}
              </div>
            </li>
          </ol>   
    </li>
  </ol>
</div>